<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>VueJS Tutorials</title>
  <link rel="stylesheet" href="styles.css" rel="stylesheet"/>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <!-- output tất cả properties trong phạm vi component vue-app -->
  <h1>Component</h1>
  <div id="vue-app-one">
    <h2>Vue app one</h2>
    <greeting></greeting>
  </div>
  <div id="vue-app-two">
    <h2>Vue app two</h2>
    <greeting></greeting>
  </div>

  <script src="app.js"></script>
</body>
</html>